body{
	background-color: white;
	font-family: Tahoma, "Segoe UI", Verdana, sans-serif;
	border-radius: px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.display-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.calc {
    background: linear-gradient(
        145deg, 
        #e6e9ef 0%,    
        #d1d5db 25%,   
        #bdc3c7 50%,   
        #d1d5db 75%,  
        #aeb5bc 100%   
    );
    border: 2px solid #ffffff; 
    outline: 2px solid #959ea9;
    box-shadow: 
        inset 1px 1px 1px rgba(255, 255, 255, 0.9),
        0px 10px 25px rgba(0, 0, 0, 0.15);

    border-radius: 25px;
    width: 310px;
    padding: 20px;
}
.display {
    font-family: Arial, Helvetica, sans-serif;
	word-wrap: break-word;
    background-color: white;
    color: black;
    border-color: black;
    border-style: inset;
    font-size: 3em;
    padding: 10px;
    text-align: right;
    border-radius: 20px;
    flex-grow: 1; 
    margin-right: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
	white-space: nowrap;       
    overflow-x: auto;         
    padding-bottom: 5px;      
    display: block;
}
.display::-webkit-scrollbar {
    height: 4px;
}
.display::-webkit-scrollbar-track {
    background: transparent; 
    margin-left: 15px;  
    margin-right: 15px; 
}
.display::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}
.display::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 105, 217);
}
.backspace-btn {
    background-color: whitesmoke;
    border: 3px inset black;
    border-radius: 10px;
    font-size: 1.5rem;
	color: black;
    font-weight: bolder;
    cursor: pointer;
    width: 43px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonPink{
	background-color: rgb(207, 105, 217);
}

.buttonGrey{
	background-color: #7d7d7d;
	color: #222;
	border: 3px inset black;
}
.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3px;
  }
  button {
	padding: 12px;
	  font-family: Arial, sans-serif;
	font-size: 1.5em;
	  font-weight: bolder;
	border-color: purple;
	border-width: 3;
	border-radius: 10px;
	background-color: rgb(207, 105, 217);
	cursor: pointer;
	transition: background-color 0.2s;
  }
.circleButton {
  width: 70px;
  height: 55px;
  border-width: 3;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  border: 3px inset ;
	border-color: black;
  font-size: 1.5rem;
  cursor: pointer;
	color: white
}
  
button:hover {
	filter: blur(1px);
	  transform: scale(1.02);
	  transition: 0.5s;
}